---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      Workshop on 
      <span class="font-weight-bold">Spurious Correlation and Shortcut Learning</span>: Foundations and Solutions
    </h1>
    <p class="desc"><b>Workshop at The International Conference on Learning Representations (ICLR) 2025</b></p>
  </header>

  <article>

    Reliance on spurious correlations due to simplicity bias is a well-known pitfall of deep learning models. 
    This issue stems from the statistical nature of deep learning algorithms and their inductive biases at all stages, 
    including data preprocessing, architectures, and optimization. Therefore, spurious correlations and shortcut learning 
    are fundamental and common practical problems across all branches of AI. The foundational nature and widespread occurrence 
    of reliance on spurious correlations and shortcut learning make it an important research topic and a gateway to understanding 
    how deep models learn patterns and the underlying mechanisms responsible for their effectiveness and generalization. This 
    workshop aims to address two aspects of this phenomenon: its foundations and potential solutions.

    <br>
    <br>
    Submission Deadline: <b>24th August 2025, 11:59 PM (AoE)</b>.
    <br>
    The workshop will be held on <b>6/7 December, 2025</b> at <b>NeurIPS 2025</b>.
    <br>
    For latest news about the workshop, visit our website at <a href="https://philo-llm.github.io/" target="_blank" rel="noopener noreferrer">philo-llm.github.io</a>.
    <!-- Submit questions for our panelists <a href="https://forms.gle/XXXX" target="_blank" rel="noopener noreferrer noopener noreferrer">here. </a>
    To apply for financial assistance fill out this <a href="https://forms.gle/XXXX" target="_blank" rel="noopener noreferrer noopener noreferrer">form. </a> -->
    <br>
    <br>


          <br>
          <div class="speakers">
            <h2>Keynote Speakers</h2>
            <div class="container">
                <div class="row row-cols-2">

                    <!-- Pavel Izmailov -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/pavel.jpeg" srcset="/assets/img/pavel.jpeg" style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Pavel Izmailov
                                        </h4>

                                        <h6 class="card-text">NYU / Anthropic
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://twitter.com/Pavel_Izmailov" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.ru/citations?user=AXxTpGUAAAAJ&amp;hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://izmailovpavel.github.io/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-item col">
                      <div class="card">
                          <div class="row g-0">
                              <div class="card-img col-md-6">

                                  <img src="/assets/img/baharan.jpg" srcset="/assets/img/baharan.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                              </div>
                              <div class="col-md-6">
                                  <div class="card-body">
                                      <h4 class="card-title">Baharan Mirzasoleiman
                                      </h4>

                                      <h6 class="card-text"> UCLA
                                      </h6>

                                      <div class="row ml-1 mr-1 p-0">
                                          <div class="icon" data-toggle="tooltip" title="Twitter">
                                            <a href="https://twitter.com/baharanm" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                          </div>

                                           
                                          <div class="google-scholar-icon">
                                            <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                              <a href="https://scholar.google.com/citations?user=x63j7HEAAAAJ&amp;hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                            </div>
                                          </div>

                                           
                                          <div class="website-icon">
                                              <div class="icon" data-toggle="tooltip" title="Website">
                                                  <a href="https://baharanm.github.io/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                              </div>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="card-item col">
                      <div class="card">
                          <div class="row g-0">
                              <div class="card-img col-md-6">

                                  <img src="/assets/img/chelsea.jpg" srcset="/assets/img/chelsea.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                              </div>
                              <div class=" col-md-6">
                                  <div class="card-body">
                                      <h4 class="card-title">Chelsea Finn
                                      </h4>

                                      <h6 class="card-text">Stanford University
                                      </h6>

                                      <div class="row ml-1 mr-1 p-0">
                                          <div class="icon" data-toggle="tooltip" title="Twitter">
                                            <a href="https://www.twitter.com/chelseabfinn/" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                          </div>

                                           
                                          <div class="google-scholar-icon">
                                            <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                              <a href="https://scholar.google.com/citations?user=vfPE6hgAAAAJ" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                            </div>
                                          </div>

                                           
                                          <div class="website-icon">
                                              <div class="icon" data-toggle="tooltip" title="Website">
                                                  <a href="https://ai.stanford.edu/~cbfinn/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                              </div>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/aditi.jpeg" srcset="/assets/img/aditi.jpeg" style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Aditi Raghunathan
                                        </h4>

                                        <h6 class="card-text">Carnegie Mellon University (CMU)
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://x.com/AdtRaghunathan" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=Ch9iRwQAAAAJ&hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://www.cs.cmu.edu/~aditirag/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/stephano.jfif" srcset="/assets/img/stephano.jfif" style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Stefano Sarao Mannelli 
                                        </h4>

                                        <h6 class="card-text">Chalmers University of Technology
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://twitter.com/stefsmlab" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.it/citations?user=Kq272_MAAAAJ&amp;hl=fr" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://fr.linkedin.com/in/stefano-sarao-mannelli-94292844" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/david.jpg" srcset="/assets/img/david.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                        </div>
                        <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">David Lopez-Paz
                                        </h4>

                                        <h6 class="card-text">Meta AI Research (FAIR)
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.de/citations?user=SiCHxTkAAAAJ&hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://ai.meta.com/people/1565619390678045/david-lopez-paz/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/AndrewLampinen.jpg" srcset="/assets/img/AndrewLampinen.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Andrew K Lampinen
                                        </h4>

                                        <h6 class="card-text">Google DeepMind
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://twitter.com/AndrewLampinen" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=_N44XxAAAAAJ" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://lampinen.github.io/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

            <br>
        <div class="speakers">
            <h2>Panelists </h2>
            <div class="container">
                <div class="row row-cols-2">

                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/soheil.jpg" srcset="/assets/img/soheil.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title"> Soheil Feizi
                                        </h4>

                                        <h6 class="card-text"> UMD
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://twitter.com/FeiziSoheil" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=lptAmrMAAAAJ&amp;hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://www.cs.umd.edu/~sfeizi/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-item col">
                      <div class="card">
                          <div class="row g-0">
                              <div class="card-img col-md-6">

                                  <img src="/assets/img/david.jpg" srcset="/assets/img/david.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                      </div>
                      <div class=" col-md-6">
                                  <div class="card-body">
                                      <h4 class="card-title">David Lopez-Paz
                                      </h4>

                                      <h6 class="card-text">Meta AI Research (FAIR)
                                      </h6>

                                      <div class="row ml-1 mr-1 p-0">
                                          <div class="google-scholar-icon">
                                            <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                              <a href="https://scholar.google.de/citations?user=SiCHxTkAAAAJ&hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                            </div>
                                          </div>

                                           
                                          <div class="website-icon">
                                              <div class="icon" data-toggle="tooltip" title="Website">
                                                  <a href="https://ai.meta.com/people/1565619390678045/david-lopez-paz/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                              </div>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                    <!-- <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/belkin_1.jpeg" srcset="/assets/img/belkin_1.jpeg" style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title"> Misha Belkin
                                        </h4>

                                        <h6 class="card-text"> UC San Diego &amp; Amazon
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">

                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=Iwd9DdkAAAAJ" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="http://misha.belkin-wang.org/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/irina.jpg" srcset="/assets/img/irina.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title"> Irina Rish
                                        </h4>

                                        <h6 class="card-text"> Université de Montréal &amp; Mila
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://twitter.com/irinarish" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=Avse5gIAAAAJ" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://www.irina-rish.com/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/eero.jpg" srcset="/assets/img/eero.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title"> Eero Simoncelli
                                        </h4>

                                        <h6 class="card-text"> New York University
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://twitter.com/EeroSimoncelli" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=MplR7_cAAAAJ" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://www.cns.nyu.edu/~eero/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->


                </div>

            </div> 
            <br>
            <div>
              <b>Please submit questions for our panelists <a href="https://docs.google.com/forms/d/e/1FAIpQLSenmiDfMDOTwh5YZTLcAl8_i9JHtgquENu96XVL5WsCpt7NPQ/viewform?usp=header" target="_blank" rel="noopener noreferrer">here</a></b>.
            </div>
        </div>
        <br>
    <div class="speakers">
      <h2>Organizers</h2>

      <div class="container">
        <div class="row row-cols-2">

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/hesam.jpg" srcset="/assets/img/hesam.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Hesam Asadollahzadeh
                    </h4>

                    <h6 class="card-text">Sharif University of Technology
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://x.com/HesamAsdz" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=cL60wssAAAAJ&amp;hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://hesamasad.github.io/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/polina.jpg" srcset="/assets/img/polina.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Polina Kirichenko
                    </h4>

                    <h6 class="card-text">NYU / Meta (FAIR) / Princeton
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/polkirichenko" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=05uQHIgAAAAJ&hl=en&oi=ao" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://polkirichenko.github.io/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/mahdi.jfif" srcset="/assets/img/mahdi.jfif" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Mahdi Ghaznavi
                    </h4>

                    <h6 class="card-text">Sharif University of Technology
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://x.com/MahdiGhaznavi78" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=_Bg7EykAAAAJ&hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://mahdighaznavi.github.io/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/soleymani.jpg" srcset="/assets/img/soleymani.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Mahdieh Soleymani Baghshah
                    </h4>

                    <h6 class="card-text">Sharif University of Technology
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                      <!--  
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/davisbrownr?lang=en" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div> -->


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?hl=en&user=S1U0KlgAAAAJ" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://sharif.edu/~soleymani/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/rohban.png" srcset="/assets/img/rohban.png" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Mohammad Hossein Rohban
                    </h4>

                    <h6 class="card-text">Sharif University of Technology
                    </h6>
                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://x.com/MhRohban" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=pRyJ6FkAAAAJ&hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://sharif.edu/~rohban/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="assets/img/parsa.jpeg" srcset="assets/img/parsa.jpeg" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Parsa Hosseini
                    </h4>

                    <h6 class="card-text">UMD
                    </h6>

                    <div class="row ml-1 mr-1 p-0">


                      
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=4QnHQqgAAAAJ&hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                      
                      

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/aahlad.jpg" srcset="/assets/img/aahlad.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Aahlad Puli
                    </h4>

                    <h6 class="card-text">NYU
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/aahladpuli?lang=en" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>

                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=xWmCmBQAAAAJ&hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://aahladmanas.github.io/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/arash.jpg" srcset="/assets/img/arash.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Arash Marioriyad
                    </h4>

                    <h6 class="card-text">Sharif University of Technology
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=WHz9vAYAAAAJ&hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://ir.linkedin.com/in/arash-mari-oriyad" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/shikai.jpg" srcset="/assets/img/shikai.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Shikai Qiu 
                    </h4>

                    <h6 class="card-text">NYU
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/ShikaiQiu" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>

                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=pK0OAsQAAAAJ&hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://shikaiqiu.github.io/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/nahal.jpg" srcset="/assets/img/nahal.jpg" style="width: 150px; height: 150px; object-fit: cover;">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Nahal Mirzaie
                    </h4>

                    <h6 class="card-text">Sharif University of Technology
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=7IaTpQQAAAAJ&hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://ir.linkedin.com/in/nahal-mirzaie-535970159" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br>
    
    <div class="program-committee">
    <h2>Program Committee</h2>
    <div class="container">
      <div class="row">
        <div class="col">
          <ul>
            <li>Ali Abdollahi, Sharif University of Technology</li>
            <li>Hesam Asadollahzadeh, Sharif University of Technology</li>
            <li>Mohammad Azizmalayeri, Amsterdam UMC</li>
            <li>Mahdieh Soleymani Baghshah, Sharif University of Technology</li>
            <li><a href="https://samueljamesbell.com">Samuel Bell</a>, Meta FAIR</li>
            <li>Yize CHENG, University of Maryland, College Park</li>
            <li><a href="https://lfhase.win/">Yongqiang Chen</a>, MBZUAI & CMU</li>
            <li>Allison Chen, Princeton University</li>
            <li>Alireza Dehghanpour Farashah, McGill University</li>
            <li><a href="https://scholar.google.com/citations?user=SodvsocAAAAJ">Anastasiia Fadeeva</a>, Google DeepMind</li>
            <li><a href="https://mohamadreza99.ir">Mohamadreza Fereydooni</a>, Sharif University of Technology</li>
            <li>Rameshwar Garg, Columbia University</li>
            <li>Mahdi Ghaznavi, Sharif University of Technology</li>
            <li>Shantanu Ghosh, Boston University</li>
            <li>Fahimeh Hosseini Noohdani, Sharif University of Technology</li>
            <li>Amirmohammad Izadi, Sharif University of Technology</li>
            <li>Polina Kirichenko, Princeton University</li>
            <li>Jack Lanchantin, Meta</li>
            <li><a href="https://tyler-labonte.com">Tyler LaBonte</a>, Georgia Tech</li>
            <li><a href="https://scholar.google.com/citations?user=YHDYF50AAAAJ&hl=en&oi=ao">Jie S. Li</a>, University of Maryland, College Park</li>
            <li>Daohan Lu, New York University</li>
            <li>Alexander Lyzhov, New York University</li>
            <li><a href="https://divyat09.github.io/">Divyat Mahajan</a>, Mila, Université de Montréal</li>
            <li><a href="https://scholar.google.com/citations?user=WHz9vAYAAAAJ&hl=en">Arash Marioriyad</a>, Sharif University of Technology</li>
            <li>Martin Marek, New York University</li>
            <li>Viacheslav Meshchaninov, Higher School of Economics</li>
            <li>Faridoun Mehri, Sharif University of Technology</li>
            <li>Nahal Mirzaie, Sharif University of Technology</li>
            <li>David Yu Miller, University of Maryland, College Park</li>
            <li>Mazda Moayeri, Meta</li>
            <li>Mohammad Mozafari, Sharif University of Technology</li>
            <li>Nihal Murali, University of Pittsburgh</li>
            <li>Amir Najafi, Sharif University of Technology</li>
            <li><a href="https://www.linkedin.com/in/sumit-nawathe/">Sumit Nawathe</a>, University of Maryland, College Park</li>
            <li><a href="https://hsgser.github.io/">Dang Nguyen</a>, UCLA</li>
            <li>Hosna Oyarhoseini, Sharif University of Technology</li>
            <li><a href="https://scholar.google.com/citations?hl=en&user=WEyG3UMAAAAJ">Indu Panigrahi</a>, Princeton University</li>
            <li><a href="https://xiangpan.info">Xiang Pan</a>, New York University</li>
            <li>Mohammad Pezeshki, Meta</li>
            <li>Aahlad Manas Puli, New York University</li>
            <li><a href="https://nayutaqiu.github.io/">GuanWen Qiu</a>, University of Pennsylvania</li>
            <li><a href="https://scholar.google.com/citations?user=Ty2EujYAAAAJ&hl=en">Saksham Rastogi</a>, Indian Institute of Science</li>
            <li>Yi Ren, University of British Columbia</li>
            <li>Mohammad Hossein Rohban, Sharif University of Technology</li>
            <li>Mahdi Salmani, University of Southern California</li>
            <li>Mahdi Samiei, Sharif University of Technology</li>
            <li>Soroush Vafaie Tabar, Sharif University of Technology</li>
            <li><a href="https://hamidrezayaghoubi.github.io">Hamidreza Yaghoubi Araghi</a>, University of Maryland, College Park</li>
            <li><a href="https://scholar.google.com/citations?user=7EtxHvgAAAAJ&hl=en">Aryan Yazdan Parast</a>, University of Melbourne</li>
            <li>Guangtao Zheng, University of Virginia</li>
            <li>Yin Zhou, Columbia University</li>
            <li><a href="https://tylerzhu.com/research">Tyler Zhu</a>, Princeton University</li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <br>

    <br>
    <h3 class="post-title"><span class="font-weight-bold">Questions?</span></h3>
    Contact us at
    <a href="mailto:sripada@umich.edu" target="_blank">sripada@umich.edu</a> or visit our website at <a href="https://philo-llm.github.io/" target="_blank" rel="noopener noreferrer">philo-llm.github.io</a>.

  </article>

</div>
